# .rc file for running ulogcat as a service -*- mode:conf -*-
service ulogcatd /usr/bin/ulogcat -F /etc/ulogcatd.conf
    class main
    user root
    group log inet
    # [SYSLOG] reading android logs requires CAP_SYSLOG
    capability SYSLOG
