# .rc file for running ulogcat as a service -*- mode:conf -*-
service ulogcatd /usr/bin/ulogcat -F /etc/ulogcatd.conf
    class main
    user root
    group log inet
    disabled
    # [SYSLOG] reading android logs requires CAP_SYSLOG
    capability SYSLOG

# only start when debug is enabled
on property:ro.debuggable=1
    start ulogcatd
