# .rc file for shdlogd service -*- mode:conf -*-
on init
    write /sys/devices/virtual/misc/ulog_main/logs "ulog_shdlogd 18"

service shdlogd /usr/bin/shdlogd -d /dev/ulog_shdlogd
    class main
    user root
